body{
    margin:0;
    background-color: #FF7978;
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    place-items: center;
    gap:4em;
   
}

.sans-semibold{
    font-weight: 600;
}
.sans-bold{
    font-weight: 600;
}
.sans-light{
    font-size: 14px;
    font-weight: 300;
}
.text-sans{
    font-family:'Open Sans', sans-serif;
}
.mons-text{
    font-family: 'Montserrat',sans-serif;
}
.mons-bold{
    font-weight: 700;
}
.right{
    width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;


}
.blue-box{
    background: #5D55A1 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 4px;
opacity: 1;
min-width: auto;
width: 98%;
height: 10%;
display: flex;
align-items: center;
justify-content: center;

}
.blue-box>p{
font-size: 80%;
    margin-bottom: 0;
    flex-shrink: 0;
}

.form{
    padding: 1em;
    width: 98%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.button{
    width: 100%;
    height: 30%;
    color:white;
    background: #37CC89 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 4px;
opacity: 1;
    border: none;
}

.button:hover{
    background: white 0% 0% no-repeat padding-box;
    color:#37CC89;
    border:1px solid #37CC89; 
}

.coloured{
    color:#FF7978;
}
span{
   
    color: #A8A8A8;
    
}

.terms{
    margin-top: 5px;
    text-align: center;

}

@media only screen and (max-width: 600px) {


.container{
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}
.left>h1{
    text-align: center;
}
.left>p{
    text-align: center;
}
.blue-box{
    height: 3em;
}
.blue-box>p{
    text-align: center;
    font-size: 80%;
        margin-bottom: 0;
        flex-shrink: 1;
    }
    .button:focus{
        background: white 0% 0% no-repeat padding-box;
        color:#37CC89;
        border:1px solid #37CC89; 
    }
    
}